.container.testimonal_container {
    width: 40%;
    padding-bottom: 3rem;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background: var(--color-primary);
}

.client_avatar {
    width: 100%;
    border-radius: .5rem;
    overflow: hidden;
}

.testimonal {
    background: var(--color-bg-varient);
    text-align: center;
    padding: .5rem;
    border-radius: .5rem;
    user-select: none;
    height: auto;
}

@media screen and (max-width:1040px) {
    .container.testimonal_container {
        width: 60%;
    }
}

@media screen and (max-width:600px) {
    .container.testimonal_container {
        width: 90%;
    }
    .client_review {
        width: 90%;
    }
}